.profile__avatar{
    margin-right: 30px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.profile__avatar-btn {
    background-image: url("../../../image/pencil_ava.png");
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
    transition: .8s ease;
  }

  .profile__avatar-btn:hover {
    opacity: .8;
    background-color: #000;
  }
@media screen and (max-width: 890px) {
    .profile__avatar{
        margin: 0 auto;
        margin-bottom: 26px;
    }
}