.profile__add-button{
    width: 150px;
    height: 50px;
    border: 1px solid #fff;
    background: none;
    background-image: url(../../../image/addButton.svg);
    background-repeat:no-repeat;
    background-size: 22px 22px;
    background-position:50%;
    background-origin: padding-box;
    cursor: pointer;
}
.profile__add-button:hover{
    opacity: 0.6;
}
@media screen and (max-width:890px) {
    .profile__add-button{
        width: 282px;
        height: 52px;
        background-image: url(../../../image/plus_small.svg) ;
        background-size: 16px 16px;
    }
}